.container{
  margin: 0 auto;
  width: 70%;
  background-color: #ffff;
  box-sizing: border-box;
  padding: 50px;
}

#input{
  margin-left: 0;
}

.subtitle
{
  text-align: center
}

/* form {
  text-align: justify;
  width:50%;
  margin:auto;

} */